<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>模仿指令ng-model</title>
    <script src="/nodejs/others/bower_components/angular/angular.js"></script>
</head>
<body ng-app="my">
<label>Their URL field:</label><input ng-model="theirUrl" type="text">
<div my-dir
    some-attr="theirUrl"
    my-link-text="Click me to go to Google"></div>
<script>
    angular.module( "my", [] )
            .directive( "myDir", function() {
                return {
                    restrict: "A",
                    replace: true,
                    scope: {
                        //= 双向绑定
                        myUrl: '=someAttr',
                        myLinkText: "@",
                    },
                    template: "" +
                        "<div>" +
                        "<label>My Url Field:</label>" +
                        "<input ng-readonly='true' type='text' value='ff' ng-model='myUrl'>" +
                        "<a ng-href='{{myUrl}}'>{{myLinkText}}</a> " +
                        "</div>"
                }
            })
</script>
</body>
</html>